.card {
    border: solid 1px darkgray;
    height: 79px;
    margin: 10px;
    text-align: center;
    min-height: 150px;

    .title {
        font-style: italic;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .task {
        padding: 2px;
    }
}
