.card-category {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    margin-top: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    margin: 15px 45px;
    overflow-y: scroll;
    min-height: 400px;
}

.title {
    text-align: center;
}

@media screen and (min-width: 720px) {
    .card-category {
        display: grid;
        grid-template-columns: auto;
    }


    .cards {
        margin: 0;
    }
}
