.card-category {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    margin-top: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    margin: 15px 45px;
    overflow-y: scroll;
    height: 500px;
}

.title {
    text-align: center;
}

@media screen and (min-width: 720px) {
    .cards {
        margin: 10px;
    }
}
