.dashboard {
    display: grid;
}

.header {
    height: 100px;
    border: solid 1px lightblue;
}

.categories{
    display: grid;
}

.footer {
    height: 100px;
    border: solid 1px darkblue;
}

@media screen and (min-width: 720px) {
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-width: 280px;
    }
}
