.card {
    margin: 10px;

    .actions{
        display: flex;
        justify-content: space-between;
        padding: 0;

        .priority {
            padding: 4px;
            font-size: 10px;
        }
    }

    .title {
        font-style: italic;
        padding: 4px;
        margin-top: 2px;
        text-align: center;
    }

    .description {
        display: flex;
        justify-content: center;
        padding: 16px;
        margin: 5px 0;
        background: #f1f1f1;
        border-radius: 6px;
        font-size: 12px;
        color: #1d1d1d;
    }
}
