.card-category {
    display: flex;
    flex-direction: column;
    max-height: 500px;
}

.cards {
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    margin: 15px 45px;
    overflow-y: auto;
    height: 500px;
}

.title {
    margin: 0 45px;
    text-align: center;

    .savingStatus {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 720px) {
    .cards {
        margin: 10px;
    }
}
