.dashboard {
    display: grid;
    min-width: 280px;
}

.header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: 0 45px;

    .savingStatus {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        text-align: left;
        padding-top: 30px;
    }

    .userInfo {
        text-align: right;
        padding-top: 30px;

        .primaryEmail {
            font-size: 12px;
        }

        * {
            margin: 0 10px 10px 0;
        }
    }
}

.categories{
    display: grid;
    margin-top: 40px;
}

.footer {
    height: 100px;
    border: solid 1px darkblue;
}

@media screen and (min-width: 720px) {
    .header {
        margin: 0 10px;
    }

    .categories {
        grid-template-columns:  33% 33% 33%;
    }
}

@media screen and (min-width: 1280px) {
    .categories {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}